.logoChain {
	top: 0;
	left: 0;
  display: flex;
  justify-content: right;
  flex-direction: row;
  position: sticky;
  }

  .logoChain img {
	max-height: 65px;
	margin-left: 4px;
  border-radius: 10px;
  }

  header{
    margin-bottom: 6em;
    background-color: rgb(237, 235, 246);
    color: rgb(237, 235, 246);
    border-bottom: 1px;
  }

#producto {
  float: left;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(237, 235, 246);
  width: 100%;
}  
#producto div{
  font-family: sans-serif;
  margin: 1.72em;
  width: 100%;
  padding: 10px;
}
 #producto img {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
 }

 .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}


 .container-espacioDiv{
  background-color:  rgb(237, 235, 246);
  max-width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
 }
 .carousel img {
  background-image: url('./img/cadenainfinito.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  transition: all 0.45s ease-in-out;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: 1em;
  background-color: rgb(237, 235, 246);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 260px;
}

.carousel:hover img {
    transform: translateY(-6px); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
  }
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 59vh;
    margin-top: 58vh;
    background-color: rgb(237, 235, 246);
  }
  .center2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 235, 246);
    padding-bottom: 35px;
  }
  .centerText{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 55vh;
    margin-top: 50px;
    position: relative;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    display: none;
  }
  .carousel:hover .centerText {
    transform: translateY(-6px); 
    transition: all 0.75s ease-in-out;
    opacity: 1;
    display: flex;
 }
 
#buttonCarousel {
  font-size: 1.9em;
  padding: 7px 13px 7px 12px;
  opacity: 1; 
  position: relative;
  z-index: 99;
  border-radius: 20px;
  border: none;
  width: 70px;
  background-image: none;
}
#btnCuenta {
  font-size: 1.9em;
  padding: 5px 5px 5px 5px;
  margin-right: 8px;
  opacity: 1; 
  position: relative;
  z-index: 99;
  border-radius: 12px;
  border: none;
  background-color:none;
  width: 35px;
  background-image: none;
}

#btnCuenta:hover{
  opacity: 1;
  transition: opacity 2s ease-in-out; 
  transform: translateY(-4px); 
}

#btnMenu {
  padding: 5px 5px 5px 5px;
  margin-right: 8px;
  margin-left: 9px;
  opacity: 1; 
  position: relative;
  z-index: 99;
  border: none;
  background-color:none;
  width: 25px;
  background-image: none;
}

#btnMenu:hover{
  opacity: 1;
  transition: opacity 2s ease-in-out; 
  transform: translateY(-4px); 
}

#buttonCarousel:hover{
  opacity: 1;
  transition: opacity 2s ease-in-out; 
  transform: translateY(-4px); 
	box-shadow: 0px 0px 15px rgba(59, 59, 59, 0.3); 
	border-radius: 20px;
}

.card-container{
    transition: all 0.4s ease-in-out;
	border-radius: 15px; 
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.card-container:hover{
    transform: translateY(-6px);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8); 
	border-radius: 20px;
    transition: opacity 1s ease-in-out; 
}
.bordered {
    border: 2px solid #ccc;
    padding: 20px;
  }

  #pre-servicio {
    background-image: url("https://images.pexels.com/photos/5632379/pexels-photo-5632379.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
  }
  
  #pre-servicio p{
    color: #242424;
  }
  
  .service-item {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  
  .service-item:hover {
    transform: translateY(-5px);
  }
  
  .service-item i {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .service-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .service-description {
    font-size: 1.2em;
    color: #555555;
  }
  
  
  
  #servicio {
    background-image: url("https://images.pexels.com/photos/590015/pexels-photo-590015.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;
    /* Add other background styles as needed */
  }
  
  .section-title {
    font-size: 3.5em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
    box-shadow: #3F3F3F;
  }
  
  .service-item {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .service-item:hover {
    transform: translateY(-5px);
  }
  
  .service-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .service-list {
    list-style-type: none;
    padding: 0;
  }
  
  .service-list li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
  }
  
  .service-list li:before {
    content: '\2192';
    position: absolute;
    left: 0;
    top: 0;
    color: #007bff;
    font-size: 1.2em;
  }

  .testimonial img {
    max-width: 100%;
    border-radius: 50%;
  }

  #contacto {
    background-color: #f9f9f9;
    padding: 50px 0;
  }

  #contacto h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3.3em;
    text-align: center;
  }

  #contacto .row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }

  #contacto .col-md-6 {
    text-align: left;
  }

  #contacto .form-group {
    margin-bottom: 20px;
  }

  #contacto button {
    width: 100%;
  }

.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  #susc-btn,
  #cuenta-btn {
    background-color: #2E2E2E;
    color: #fff;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  #susc-btn:hover,
  #cuenta-btn:hover {
    background-color: #3F3F3F;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding-top: 15px;
    margin-top: 10px;
    padding-left: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  .footer .social-icons {
    display: flex;
  }
  
  .footer .social-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
  }
  
  .footer .copyright {
    font-size: 14px;
  }

  
  footer h5 {
    font-size: 16px;
    color: #c7cacb;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .row1{
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
  }
  footer a {
    font-size: 14px;
    color: #929395;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #343a40;
  }
  footer .container {
    max-width: 100%;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .testimonial {
    position: relative;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .testimonial:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent #f1f1f1;
    transform: translateY(-50%);
  }
  
  .testimonial-content {
    margin-right: 40px;
  }
  
  .testimonial-content p {
    margin-bottom: 10px;
  }
  
  .testimonial-content cite {
    font-weight: bold;
  }
  