
h1{
    font-size: 62px;
            margin-bottom: 60px;
            padding-left: 520px;
            padding-top: 250px;
} 
div{
    background-color: bisque;

}
.p1{
    font-size: 34px;
            margin-bottom: 60px;
            padding-left: 480px;
            padding-top: 30px;
}