.logoChain {
	top: 0;
	left: 0;
	z-index: 9999;
    display: flex;
    justify-content: right;
    flex-direction: row;
    position: sticky;
    margin-bottom: 11px;
    border-radius: 15px;
  }
  .logoChain img {
	max-height: 65px;
	margin-left: 4px;
    border-radius: 10px;
  }
  header{
    margin-bottom: 6em;
    background-color: rgb(210, 210, 210);
    color: rgb(210, 210, 210);
    border-bottom: 1px;
    margin-top: 33px;
  }

  body {
    background-color: rgb(192, 192, 192);
  }

  .container {
    margin-bottom: 15px;
  }

#suscripciones {
    float: left;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(199, 199, 199);
    width: 100%;
}  
#suscripciones div{
    font-family: sans-serif;
    margin: 1.72em;
    width: 100%;
    padding: 10px;
}
 #suscripciones img {
    border-radius: 10px;
    height: 130px;
    object-fit: cover;
 }

/* Estilos del footer */
footer {
	background-color: #323232;
	color: #ffffff;
	padding: 50px 0;
  padding-top: 10px;
}

footer p {
	text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 2.8em;

}

footer ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

footer li {
	margin: 0 20px;
}

footer a {
	color: #ffffff;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	transition: color 0.3s;
}

  #btnCuenta {
    font-size: 1.9em;
    padding: 5px 5px 5px 5px;
    margin-right: 8px;
    opacity: 1; 
    position: relative;
    z-index: 99;
    border-radius: 12px;
    border: none;
    background-color:none;
    width: 35px;
    background-image: none;
  }
  #btnCuenta:hover{
    opacity: 1;
    transition: opacity 2s ease-in-out; 
    transform: translateY(-4px); 
  }

  .carousel div {
    padding-top:50px ;
  }
  .carousel img{
    background-image: url('./img/subscripcion.avif');
    background-size: cover;
	background-position: center;
	color: #ffffff;
	padding: 10px 0;
	transition: all 0.45s ease-in-out;
    padding: 240px;
    margin-top: 1em;
    background-color: rgb(210, 210, 210);
}